body {
  font-family: Arial;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.block-scroll {
  position: absolute;
}

#currency-line {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.main-block-currency {
  font-size: 12px;
  overflow-x: hidden;
  color: #90909d;
  background-color: white;
  flex-grow: 1;
}

.main-block-currency-show {
  overflow-y: hidden;

  min-width: 20px;
  height: 20px;
}

h2 {
  font-size: 20px;
  margin: 0 0 31px;
  padding: 25px 18px 21px 18px;
  border-bottom: 1px solid #e5e5e5;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding-right: 10px;
}

header {
  position: relative;
  z-index: 5;
}

.black-bar {
  height: 68px;
  display: relative;
  z-index: 3;
  font-size: 16px;
  padding: 0 20px;
  color: white;
  background-color: #00122f;
}

.black-bar .fixed-container {
  display: flex;
  height: inherit;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.black-bar a {
  color: white;
}

.fixed-container {
  max-width: 1000px;
  margin: 0 auto;
}

.placeholder {
  height: 118px;
  background-color: #fff;
}

.flex-fixed-container {
  z-index: 5;
  display: flex;
  height: inherit;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  padding: 6px 0 0 50px;
  font-size: 14px;
  font-weight: bold;
  background-image: url('img/internet.png');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left;
}

.select {
  background-image: url("img/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10px;
  padding-right: 20px;
}

.selected {
  display: inline;
  color: #608bc7;
  border-top: none;
  border-right: none;
  border-bottom: 1px dashed #608bc7;
  border-left: none;
  background-color: white;
}

.select  .non-select {
  display: none;
}

input {
  font-size: 14px;
  z-index: 2;
  width: 280px;
  padding: 14.5px 20px;
  border-style: none;
  border-radius: 22.5px;
  background-color: #f3f3f3;
  background-image: url('img/search.png');
  background-repeat: no-repeat;
  background-position: right -2px;
  background-size: 16px;
  background-origin: content-box;
}

input[type="search"]::-webkit-input-placeholder {
  color: rgba(0,0,0,0.55);
}

input[type="search"]::-moz-placeholder {
  color: rgba(0,0,0,0.55);
}

#search-button {
  display: none;
}

#search-button img {
  height: 16px;
}

.date-main {
  color: #90909d;
}

.logo-wrapper {
  margin: 0;
  padding: 40px 0 0;
  list-style: none;
}

.logo-wrapper li {
  display: inline-block;
  vertical-align: middle;
}

.curr-time {
  padding-left: 26px;
  color: #90909d;
  background-image: url('img/clock_blue.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 16px;
}

.weather {
  padding-top: 3px;
  padding-left: 39px;
  color: #90909d;
  background-image: url('img/cloudy.png');
  background-repeat: no-repeat;
  background-size: 29px;
}

.menu-container {
  padding: 0 0 30px 0;
}

.menu-container a {
  text-decoration: none;
  color: #000;
}

.menu-container ul {
  margin: 0 0;
  padding-left: 0;
}

.menu-container li {
  display: inline-block;
  list-style: none;
}

.menu-container li:first-child::before {
  content: none;
}

.menu-container li::before {
  font-size: 20px;
  padding: 0 20px 0 14px;
  content: '\2f';
  color: rgba(144, 144, 157, 0.3);
}

.column-left {
  max-width: 250px;
  background-color: white;
}

.column-left .news-item-text {
  margin-bottom: 13px;
}

.column-left .news-item-text a {
  text-decoration: none;
  color: black;
}

.main-container .fixed-container {
  display: flex;
  flex-wrap: wrap;
}

.news-item {
  font-size: 14px;
  overflow-y: hidden;
  margin-bottom: 20px;
  padding-left: 18px;
  line-height: 19px;
}

.all-news {
  font-size: 14px;
  display: block;
  width: 175px;
  margin: 40px auto 25px auto;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
  color: #608bc7;
  border: 1px solid #608bc7;
  border-radius: 22.5px;
}

.news-item-props {
  font-size: 12px;
  display: flex;
  padding-right: 38px;
  justify-content: space-between;
}

.small-news {
  display: flex;
  width: 460px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.main-news {
  max-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height:  fit-content;
  margin: 0 20px;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.news-item-props a {
  text-decoration: none;
  color: #91919f;
}

.news-time {
  padding-left: 14px;
  background-image: url('img/clock_blue.png');
  background-repeat: no-repeat;
  background-position: 0px 3px;
  background-size: 11px;
}

.news-comments-count {
  margin-left: 20px;
  padding-left: 14px;
  background-image: url('img/chat_blue.png');
  background-repeat: no-repeat;
  background-position: 0px 3px;
  background-size: 11px;
}

.photo-back {
  font-size: 12px;
  display: flex;
  max-width: 460px;
  color: white;
  background-image: url('img/crym.jpg');
  background-position: right;
  background-size: cover;
  /*height: 320px;*/
}

.photo-bac .news-date {
  bottom: 40px;
  left: 23px;
  background-size: 14px;
}

.photo-back .news-item-text {
  padding-top: 113px;
}

.photo-back a {
  text-decoration: none;
  color: white;
}

.photo-back h3 {
  margin: 19px 0;
  padding-right: 50px;
}

.photo-back .news-item-props a {
  margin-top: 25px;
}

.photo-back .news-item-props {
  margin-bottom: 42px;
}

.photo-back .news-time {
  margin-left: 20px;
  padding-left: 15px;
  background-image: url('img/clock_white.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 12px;
}

.head {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.tag {
  font-size: 12px;
}

.small-news > article {
  width: 220px;
  margin-top: 20px;
  padding-bottom: 2px;
}

.small-news img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
}

.small-news a div {
  width: 100%;
  height: 142px;
  padding-bottom: 4px;
}

.small-news article > a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  overflow-x: hidden;
  text-decoration: none;
  color: #000;
  line-height: 19px;
}

.small-news .news-time {
  margin-right: 0;
  margin-left: 12px;
}

.small-news .news-comments-count {
  margin-left: 12px;
}

.small-news .news-item-props {
  margin-top: 18px;
}

.small-news .news-item-props a {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #90909d;
}

.gradient-layer {
  min-height: 100%;
  padding: 0 21px;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.main-container {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
  background-image: url('img/central-bg-top.png');
  background-repeat: repeat-x;
}

.column-right {
  display: flex;
  width: 250px;
  align-self: flex-start;
  flex-wrap: wrap;
}

.column-right img {
  margin-bottom: 20px;
}

.column-right img:last-child {
  margin-bottom: 0;
}

.special-news {
  display: flex; 
  flex-wrap: nowrap;
  justify-content: initial;
  overflow-y: hidden;
  margin-top: 20px;
  padding: 0;
  background-color: white;
}

.special-news .photo-back .news-item-text {
  padding-top: 105px;
}

.special-news .photo-back h3 {
  margin: 23px 0 0 0;
  padding-right: 90px;
}

.special-news .photo-back .news-time {
  margin-left: 13px;
}
.special-news .photo-back {
  max-width: 588px;
  background-image: url('img/truck.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.special-news .news-item-props {
  margin-top: 12px;
  margin-bottom: 0;
  color: white;
  display: block;
}

.annotation {
  font-size: 14px;
  margin-top: 25px;
  color: white;
  padding-right: 45px;
}

.most-read {
  overflow-y: hidden;
  width: 412px;
}

.most-read .news-item:last-child {
  margin-bottom: 0;
}

.most-read h2 {;
  padding: 25px 18px 25px 18px;
  margin-bottom: 20px;
}

.most-read a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  color: black;
}

.most-read .news-item {
  display: inline-block;
  margin-bottom: 20px;
}

.most-read .news-item-props {
  display: block;
  margin-top: 10px;
}

.news-item-props a {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #90909d;
}

.most-read .news-time {
  margin-left: 13px;
  color: black;
}

.most-read .news-comments-count {
  color: black;
}

.bottom-bar {
  font-size: 16px;
  overflow-y: hidden;
  padding: 57px 0 42px;
  color: white;
  border-bottom: 1px #323b51 solid;
  background-color: #00122f;
}

.bottom-bar > div {
  display: flex;
  justify-content: space-between;
}

.bottom-bar nav {
  display: flex;
  justify-content: space-between;
}

.navigation-column:first-child {
  margin-right: 57px;
}

.navigation-column {
  overflow-x: hidden;
  margin-top: -12px;
}

.navigation-column a {
  line-height: 2;
  text-decoration: none;
  color: white;
}

.navigation-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.company .logo-bottom {
  min-height: 40px;
  padding-left: 50px;
  background-image: url('img/internet.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px;
}

.company .navigation-column {
  margin-top: 12px;
  margin-right: 20px;
}

.contacts a {
  text-decoration: none;
  color: white;
}

.social-media-item {
  display: block;
  margin-right: 20px;
  padding: 20px;
  border: white 1px solid;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
}

.vk {
  background-image: url('img/vk.png');
  background-size: auto 12px;
}

.facebook {
  background-image: url('img/facebook.png');
  background-size: auto 20px;
}

.twitter {
  background-image: url('img/twitter.png');
  background-size: auto 18px;
}

.instagram {
  background-image: url('img/instagram.png');
  background-size: auto 20px;
  margin-right: 0;
}

.telephone {
  display: block;
  margin-top: 40px;
  padding-left: 35px;
  background-image: url('img/phone.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 5px 4px;
}

.mail {
  display: block;
  margin-top: 25px;
  padding-left: 35px;
  background-image: url('img/envelope.png');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 5px 4px;
}

.copyrights {
  font-size: 14px;
  overflow-y: hidden;
  padding: 20px 0;
  text-align: center;
  color: white;
  background-color: #00122f;
}

.contacts > div {
  display: flex;
}

.shade {
  opacity: .4;
}

#mobile-section {
  display: none;
  padding: 41px 25px;
  align-items: center;
  justify-content: space-between;
}

#popup-navigation {
  position: fixed;
  z-index: 5;
  left: -103%;
  width: 102%;
  transition: .7s;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  background-color: white;
}

#nav-close {
  display: none;
  width: 20px;
}

#popup-navigation div {
  padding: 10px 20px;
  border-bottom: solid 1px #aaa;
}

#popup-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

#popup-navigation a {
  text-decoration: none;
  color: black;
}

#popup-navigation a:hover {
  text-decoration: underline;
  color: black;
}

#popup-dark-background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .7s;
  background-color: rgba(0,0,0,0);
}

#nav-button {
  display: none;
  width: 20px;
}

@media (max-width: 1024px) {
  .menu-container li::before {
    font-size: inherit;
    padding: 0 10px;
    content: '\2f';
    color: #91919f;
  }
  
  .photo-back {
    max-width: initial;
  }

  input {
    width: 200px;
  }

  .column-right {
    display: none;
  }

  .small-news article {
    max-width: 100%;
  }

  .main-news {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .small-news {
    width: 100%;
  }

  .small-news article {
    width: 48%;
  }

  .column-left {
    max-width: 500px;
  }
  
  .main-news {
    max-width: none;
  }
  .column-left {
    max-width: 300px;
  }

  .flex-fixed-container {
    padding: 0 25px;
  }
  
  .main-container .fixed-container  {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .select {
    display: none;
  }

  header nav {
    font-size: .9em;
    margin: 0 auto;
    width: fit-content;
  }

  .bottom-bar {
    padding: 57px 20px 42px;
  }
}

@media (max-width: 768px) {
  header .curr-time, header .date-main, header .weather {
    display: none;
  }
  
  .special-news .photo-back h3 {
    padding-right: 20px;
  }
  .column-left .news-item-props {
    flex-wrap: wrap;
  }

  .photo-back .news-item-text {
    padding-top: 25px;
  }

  .head {
    font-size: 22px;
    line-height: 27px;
  }

  .logo {
    padding-left: 34px;
    height: 24px;
    background-size: 24px;
  }

  .logo br {
    display: none;
  }
	
	.all-news {
		width: 150px;
	}

  .small-news article {
    width: 100%;
  }

  .small-news article > a {
    display: flex;
  }

  .small-news img {
    width: 100px;
    height: 70px;
  }

  .small-news h3 {
    font-size: 14px;
    padding-left: 10px;
  }


  #test {
    display: flex;
    padding-bottom: 40px;
  }

  .menu-container {
    display: none;
  }

  #nav-button {
    display: inline-block;
  }

  .placeholder {
    height: 50px;
  }

  .column-right {
    width: 100%;
    width: 250px;
    flex-wrap: nowrap;
  }

  .column-right img:first-child {
    margin-right: 20px;
  }

  .news-item-props .news-time {
    margin: 0;
  }
		
		.special-news .fixed-contianer {
  		display: flex;
		}
  
  .contacts {
    width: 100%
  }

  .photo-back {
    min-height: 320px;
  }

  .column-right img {
    height: 400px;
    margin: 0;
  }

  #search-button {
    display: block;
  }

  .main-container {
    padding-top: 0;
  }

  #mobile-section {
    display: flex;
  }

  #input {
    display: none;
  }

  .bottom-bar > div {
    flex-wrap: wrap;
  }

  .contacts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .telephone, .mail {
    margin-top: 0;
  }
}

@media (max-width: 540px) {
  .black-bar {
    height: 50px;
  }
  
  .annotation {   
    display: none;
  }
  .column-left .news-item-props {
    flex-wrap: initial;
  }

  .photo-back .news-item-text {
    padding-top: 142px;
  }

  h3 {
    font-size: 16px;
  }
  
  .most-read h3 {
    line-height: 22px;
  }

  .most-read .news-item-props {
    margin-top: 12px;
  }
  
  .line {
    padding-bottom: 25px;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
    margin: 0;
    width: 100%;
  }

  .bottom-bar {
    border-bottom: none;
  }
  
  .navigation-column {
    margin-top: 0;
  }

  .navigation-column a {
    line-height: 35px;
  }

  .main-news .photo-back {
    margin-bottom: 5px;
  }
  .photo-back h3 {
    margin: 17px 0 24px 0;
    padding-right: 0;
  }
  
  .small-news > article {
    margin-top: 30px;
    width: 100%;
    padding-bottom: 0;
    margin-top: 25px;
  }

  .gradient-layer {
    padding: 0px 10px 0 25px;
  }

  .column-right {
    order: 3;
    display: flex;
    margin-top: 50px;
    overflow-x: scroll;
    width: 100%;
  }
  
  .photo-back .news-item-props {
    margin-bottom: 27px;
    display: block;
  }

  #test .photo-back .news-item-props {
    margin-top: 22px;
    margin-bottom: 47px;
  }

  .bottom-bar .fixed-container {
    flex-wrap: wrap;
  }

  .small-news article > a {
    display: block;
  }

  .small-news img {
    width: 100%;
    height: 195px;
  }

  .small-news h3 {
    font-size: inherit;
    padding-left: 10px;
  }

  .company {
    width: 100%;
    margin: 30px 0 20px;
  }

  .contacts {
    margin-top: 10px;
  }
  .social-media-item {
    margin-right: 18px;
  }

  .telephone, .mail {
    font-size: 17px;
  }

  .telephone {  
    background-size: 15px;
    background-position: 0px 0px;
  }

  .mail {
    background-position: 2px 4px;
  }
  
  .news-item-props {
    display: block;
  }

  .main-news {
    margin: 0 0 20px 0;
    order: 1;
  }
  
  .most-read h2 {
    padding: 23px 10px 23px 25px;
    margin-bottom: 24px;
  }
  .column-left {
    width: 100%;
    order: 1;
  }

  .small-news h3 {
    padding: 10px 25px;
  }

  .column-left .news-item-text h3 {
    font-size: 14px;
    padding-right: 30px;
  }

  .news-item {
    padding-left: 26px;
    margin-bottom: 14px;
  }
  .main-container {
    padding-bottom: 0;
  }
  .small-news a div {
    min-height: 200px;
  }

  .small-news .news-item-props {
    padding: 0 20px;
    margin: 2px 0 0 0;
    display: block;
  }
  
  .small-news .news-time {
    margin: 0 0 0 18px;
  }

  .small-news .news-comments-count {
    margin-left: 21px;
  }
  
  .column-left .news-comments-count {
    padding-left: 12px;
  }

  .datetime {
    display: none;
  }

  .black-bar div {
    width: 100%;
    text-align: center;
  }

  .column-left {
  	max-width: initial;
    order: 2;
    width: 100%;
    margin-top: 25px;
  }
  
  #main-area {
    padding: 0;
  }

  .all-news {
    margin: 35px auto 50px auto;
    width: 270px;
  }
  
  .special-news .photo-back h3 {
    margin: 17px 0 0 0;
    padding-right: 0;
  }

  .special-news {
    order: 5;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  input {
    margin-right: -20px;
  }
  .most-read {
    width: 100%;
  }

  .column-left h2{
    padding: 42px 18px 22px 25px;
  }

  .column-left .news-item-props {
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
  }

  .column-left .news-item-props > div {
    display: flex;
  }

  .bottom-bar {
  padding: 37px 25px 23px;
  }

  .bottom-bar nav {
    display: flex;
    justify-content: left;
    padding-bottom: 17px;
  }

  .contacts {
    width: initial;
    display: block;
  }

  .telephone {
    margin-top: 40px;
  }

  .mail {  
    margin-top: 5px;
  }

  .special-news .photo-back .news-item-text {
    padding-top: 112px;
  }

  .company .navigation-column {
    margin: 23px 10px 0 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .company .navigation-column a {
    display: block;
    width: 110px;
    line-height: 22px;
    padding-bottom: 14px;
  }

  .copyrights {
    font-size: 13px;
    padding: 0px 70px 25px 25px;
    text-align: left;
    line-height: 22px;
}

@media (max-width: 360px) {
  .black-bar {
    font-size: 12px;
  }
}