body {
	min-width: 320px;
	margin: 0;
	position: relative;
	padding: 0;
	font-family: Arial;
}

.block-scroll {
	position: absolute;
}

#currency-line {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.main-block-currency {
	background-color: white;
	overflow-x: hidden;
	flex-grow: 1;
	color: #90909d;
	font-size: 12px;
}

.main-block-currency-show {
	min-width: 20px; 
	height: 20px;
	overflow-y: hidden;
}

h2 {
	font-size: 20px;
	padding: 27px 25px 27px 25px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

h3 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0px;
	padding-right: 10px;
}
header {
	position: relative;
	z-index: 5;
}
.black-bar {
	background-color: #00122f;
	color: white;
	font-size: 16px;
	padding: 0 20px;
}

.black-bar .fixed-container {
	height: 58px;
	padding: 0px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}

.black-bar a {
	color: white;
}

.fixed-container {
	max-width: 1000px;
	margin: 0 auto;
}
.placeholder {
	height: 125px;
	background-color: #ffffff;

}
.flex-fixed-container {
	z-index: 5;
	padding: 0 20px;
	height: 125px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

select {
	margin-left: 20px;
	width: 70px;
	background-color: white;
	border-left: none;
	border-right: none;
	border-top: none;
	color: #608bc7;
	border-bottom: 1px dashed #608bc7;
}
input {
	font-size: 14px;
	width: 200px;
	padding: 14.5px 0;
	border-style: none;
	padding-left: 20px;
	padding-right: 22.5px;
	border-radius: 22.5px;
	background-color: #f3f3f3;
	background-image: url('img/search.png');
	background-position: right;	
	background-origin: content-box;
	background-repeat: no-repeat;
	z-index: 2;
}
.line {
	padding-bottom: 30px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);	
}
#search-button {
	display: none;
}


.date-main {
	color: #90909d;
}
/* До этого сделал всё в виде комбинации 
position: relative; - position: absolute; 
но показалось что это не очень красиво...*/
.logo-wrapper {
	list-style: none;
	padding: 40px 0 0;
	margin: 0;
}
.logo-wrapper li {
	display: inline-block;
	vertical-align: middle;
}
		
.curr-time {
	color: #90909d;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 26px;
}

.weather {
	color: #90909d;
	padding-left: 32px;
	padding-top: 3px;
	background-image: url('img/cloudy.png');
	background-size: 29px;	
	background-repeat: no-repeat;
}

nav {
	text-align: center;
}

.menu-container {
	padding: 0 0 30px 0; 
}
.menu-container a {
	color: #000000;
	text-decoration: none;
}
.menu-container ul {
	padding-left: 0;
	margin: 0 0; 
}
.menu-container li {
	display: inline-block;
  		list-style: none;
}
.menu-container li:first-child::before {
	content: none;
}
.menu-container li::before {
	content: '\2f';
	color: #91919f;
	font-size: 20px;
	padding: 0 20px;
}


.column-left {
	background-color: white;
	max-width: 250px;

}
.column-left .news-item-text {
	margin-bottom: 20px;
}
.column-left .news-item-text a {
	text-decoration: none;
	color: black;
}

.main-container .fixed-container {
	display: flex;
}
.column-center {
	width: 750px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.news-item {
	overflow-y: hidden;
	padding: 0 25px;
	margin-bottom: 30px;
	font-size: 14px;
}

.all-news {	
	display: block;
	padding: 14px 0;
	text-align: center;
	border-radius: 22.5px;
	margin: 40px 0 25px 38px;
	border: 1px solid #608bc7;
	width: 175px;
	color: #608bc7;
	text-decoration: none;
	font-size: 14px;
}

.news-item-props {
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

.small-news {
	width: 460px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.main-news {
	-ms-align-items: flex-start;
	align-items: flex-start;
	height: fit-content;
	margin: 0 20px;
}

.news-item-props div {
	display: flex;
}

.news-item-props a {
	text-decoration: none;
	color: #91919f;
}

.news-time {
	padding-left: 15px;
	background-image: url('img/clock.png');
	background-size: 14px;	
	background-repeat: no-repeat;
}

.news-comments-count {
	margin-left: 10px;
	padding-left: 15px;
	background-image: url('img/icon-comments.png');
	background-size: 14px;
	background-repeat: no-repeat;
}

.photo-back {
	display: flex;
	max-width: 460px;
	background-size: cover;
	color: white;
	font-size: 12px;
	background-image: url('img/crym.jpg');
	background-position: right;
	/*height: 320px;*/
}
.photo-bac .news-date {
	bottom: 40px;
	left: 23px;
	background-size: 14px;	
}

.photo-back .news-item-text {
	padding-top: 110px;
}
.photo-back a {
	color: white;
	text-decoration: none;
}
.photo-back h3 {
	margin-top: 13px;
	margin-bottom: 0px;
}
.photo-back .news-item-props a {
	margin-top: 25px;
}

.photo-back .news-item-props {
	margin-bottom: 20px;
}

.photo-back .news-time {
	margin-left: 20px;
	padding-left: 15px;
	background-image: url('img/clock2.png');
	background-size: 14px;	
	background-repeat: no-repeat;
}

.head {
	font-size: 25px; 
	color: white;
	padding-left: 20px;
	padding-right: 90px;
	text-decoration: none;
	font-weight: bold;
}

.tag {
	font-size: 12px;
}

.small-news > section {
	margin-top: 20px;
	width: 220px;
	padding-bottom: 2px;
}


.small-news img {
	width: 100%;
	height: 160px;
	object-fit: cover;
	object-position: 0 0;
}
.small-news a div {
	/*min-height: 142px; так изображения тоже не одного размера*/
	height: 142px; 
	width: 100%;
	padding-bottom: 4px;
}
.small-news a {
	overflow-x: hidden;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}
.small-news .news-time {
	float: left;
	margin-left: 12px;
	margin-right: 0;
}
.small-news .news-comments-count {
	float: left;
	margin-left: 12px;
}
.small-news .news-item-props {
	margin-top: 18px
}
.small-news .news-item-props a {
	float: left;
	font-weight: normal;
	text-decoration: none;
	color: #90909d;
	font-size: 12px;
}

.gradient-layer {
	padding: 0 15px 0 15px;
	min-height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.main-container {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

.column-right {
	align-self: flex-start;	
	display: flex;
	flex-wrap: wrap;
	width: 250px;
}
.column-right img {
	margin-bottom: 20px;
}
.column-right img:last-child {
	margin-bottom: 0;
}

.special-news {
	padding: 0;
	display: flex;
	justify-content: space-between;
	/*max-height: 400px;*/
	overflow-y: hidden;
	margin-top: 20px;
	background-color: white;
}

.special-news .photo-back {
	background-repeat: no-repeat;
  background-size: cover;
	max-width: 588px;
	background-image: url('img/truck.png');
	background-position: right;
}
.special-news .news-item-props {
	color: white;
	margin-bottom: 20px;
}

.annotation {
	color: white;
	font-size: 14px;
	margin-top: 30px;
}
		
.most-read {
	overflow-y: hidden;	
	width: 372px;
}
.most-read .news-item:last-child {
	margin-bottom: 0px;
}
.most-read h2 {
	margin-bottom: 25px;
}
.most-read a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
}
.most-read .news-item {
	display: inline-block;
	margin-bottom: 20px;
}
.most-read .news-item-props {
	margin-top: 10px;
}
.news-item-props a {
	text-decoration: none;
	color: #90909d;
	font-size: 12px;
	font-weight: normal;
	float: left;
}
.most-read .news-time {
	float: left;
	color: black;
	margin-left: 13px;
}
.most-read .news-comments-count {
	float: left;
	color: black;
}

.bottom-bar {
	overflow-y: hidden;
	background-color: #00122f;
	color: white;
	padding: 56px 0;
	font-size: 16px;
	border-bottom: 1px #323b51 solid;
}

.bottom-bar > div {
	display: flex;
	justify-content: space-between;
}

.bottom-bar nav {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);	
}
.navigation-column {
	overflow-x: hidden;
}
.navigation-column a {
	line-height: 2;
	text-decoration: none;
	color: white;
}
.navigation-column ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.company {
	float: left;
}
.company .logo-bottom {
	min-height: 40px;
	background-image: url('img/internet.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 40px;
	padding-left: 50px;
} 	
.company .navigation-column {
	margin-right: 20px;
	margin-top: 12px;
}
	
.contacts {
	float: right;
}
.contacts a {
	color: white;
	text-decoration: none;
}

.social-media-item {
	display: block;
	float: left;
	padding: 20px;
	border: white 1px solid;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 20px;
}

.vk {
	background-image: url('img/vk.png');
}

.facebook {
		background-image: url('img/facebook.png');
	}

.twitter {
	background-image: url('img/twitter.png');
}

.instagram {
	background-image: url('img/instagram.png');
}

.telephone {
	display: block;
	float: left;
	margin-top: 40px;
	background-image: url('img/phone.png');
	background-repeat: no-repeat;
	padding-left: 35px;
}

.mail {
	display: block;
	float: left;
	margin-top: 25px;
	background-image: url('img/envelope.png');
	background-repeat: no-repeat;
	padding-left: 35px;
}

.copyrights {
	overflow-y: hidden;
	background-color: #00122f;
	color: white;
	font-size: 14px;
	padding: 20px 0;
	text-align: center;
}

.shade {
	opacity: 0.4;
}

#mobile-section {
	display: none;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

#popup-navigation {
	transition: 0.7s;
	position: fixed;
	transform: translate(0,0);
  left: -103%;
  width: 102%;
	z-index: 5;
	background-color: white;
}
#nav-close {
	width: 20px;
	display: none;
}
#popup-navigation div {
	padding: 10px 20px;
	border-bottom: solid 1px #aaaaaa;
}

#popup-navigation ul {
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	color: black;
}

#popup-navigation a {
	text-decoration: none;
	color: black;
}

#popup-navigation a:hover {
	text-decoration: underline;
	color: black;
}

#popup-dark-background {
	transition: 0.7s;
	z-index: -1;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
}

#nav-button {
	display: none;
}





















@media (max-width: 1024px) {
	.menu-container li::before {
    content: '\2f';
    color: #91919f;
    font-size: inherit;
    padding: 0 10px;
  }
	.fixed-container {
		/*padding: 0 20px;*/
	}
	.column-right {
		display: none;
	}
	.small-news section {
		max-width: 100%;
	}
	.column-center {
		width: 100%;
	}
	.main-news {
		width: fit-content;
	}
	.small-news {
		width: inherit;
	}
	.small-news section {
		width: 48%
	}
	.column-center .photo-back, .column-left {
		max-width: initial;
	}

	.flex-fixed-container {
		/*height: auto;*/
		padding: 0 25px;
	}

	nav {
		font-size: 0.9em;
		/*display: none;*/
	}	
}












@media (max-width: 768px) {
	header .curr-time, header .date-main, header .weather {
		display: none;
	}
	.small-news section {
		width: 100%;
	}
	.small-news a {
		display: flex;
	}
	.small-news img {
		width: 100px;
		height: 70px;
	}
	.small-news h3 {
		padding-left: 10px;
		font-size: 15px;
	}
	.small-news .news-item-props {
		margin-top: 5px;
	}
	.main-container .fixed-container {
		display: block;
	}
	.menu-container {
		display: none;
	}
	#nav-button {
		display: inline-block;
	}
	.flex-fixed-container {
		height: 60px;
	}
	.placeholder {
		height: 60px;
	}
	.column-right {
		width: 100%;
		flex-wrap: nowrap;
		width: 250px;
	}
	.column-right img:first-child {
		margin-right: 20px;
	}
	.news-item-props .news-time {
		margin: 0; 
	}

	.photo-back {
		min-height: 320px;
	}
	
	.column-right img {
		height: 400px;
		margin: 0;
	}

	#search-button {
		display: block;
	}
	.main-container {
		padding-top: 0;
	}

	#mobile-section {
		display: flex;
	}

	#input {
		display: none;
	}
	/*#popup-navigation {
		transform: translate(117%,0);
	}
	
	#popup-dark-background {
		background-color: rgba(0,0,0,0.5);
		transition: 0.7s;
		z-index: 4;
	}*/
}

















@media (max-width: 540px) {	
	h3 {
		font-size: 16px;
	}
	.column-right {
		display: flex;
		width: 100%;
		overflow-x: scroll;	
	}
	.bottom-bar .fixed-container {
		flex-wrap: wrap;
	}
	.small-news a {
		display: inline;
	}
	.small-news img {
		width: 100%;
		height: 160px;
	}
	.small-news h3 {
		padding-left: 10px;
		font-size: inherit;
	}
	.small-news .news-item-props {
		margin-top: 5px;
	}



	.bottom-bar .fixed-container > div, nav{
		width: 100%;
    margin: 20px 35px 20px 35px;
	}
	.column-center {
		display: flex;
		flex-wrap: wrap;
	}
	.photo-back h3 {
		font-size: 20px;
	}
	.main-news {
		order: -1;
		margin: 20px 0 20px 0;
	}
	.column-left {
		order: 1;
		width: 100%;
	}
	.small-news > section{
		width: 100%;
	}
	.small-news h3 {
		padding: 10px 25px;
	}
	.small-news a div {
		min-height: 200px;
	}

	.small-news .news-item-props {
		padding: 0 20px;
	}

	.datetime {
		display: none;
	}
	.black-bar div {
		width: 100%;
		text-align: center;	
	}
	select {
		display: none;
	}
	.column-left {
		width: 100%;
	}

	#main-area {
		padding: 0;
	}
	.all-news {
		margin: auto;
		margin-top: 25px;
		margin-bottom: 40px; 
	}
	.annotation {
		display: none;
	}

	.special-news {
		flex-wrap: wrap;
	}

	.most-read {
		width: 100%;
	}
}
















@media (max-width: 360px) {
	.black-bar {
		font-size: 12px;
	}
}